@charset "UTF-8";

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

/* DefaultLayout 이랑 header */
.baseWrap { width: 100%; height: 100vh; display: flex; overflow: hidden; }
.header { width: 190px; overflow-y: auto; border:1px solid #333; text-align: left; padding-left: 10px; }
.header ul li { width: 100%; height: 40px; line-height: 40px; border-bottom: #333; }
.wrap { flex-grow: 1; padding-top: 50px; }



h1 { color: #42b983; }
h3 { margin: 10px 0; }
section { border-bottom: 1px solid lightgray; padding: 10px 0 20px 0; }

.btn { font-size: 0.85rem; }
.font-bold { font-weight: bold; }
.orange { color: orange; }
.red { color: red; }
.v-enter-active, .v-leave-active { transition: opacity 1s; }
.v-enter, .v-leave-to { opacity: 0; }
.item { transition: background-color 1s; padding: 4px 8px; } /* class에 걸어줌 */
.is-active { background: #ffeaea;}
.name { transition: color 1s; }

#nav a { font-weight: bold; color: #2c3e50; text-decoration: none;}
#nav .router-link-exact-active { color: #42b983; }

/* KakaoLogin.vue */
.kakao .kakaoBtn { width: 200px; height: 50px; line-height: 50px; border-radius: 5px; text-align: center; background-color: #fee500; font-weight: 600;  }
.kakao .kakaoLogout { margin: 20px 0; }
.kakao .kakaoMap #map { width: 100%; height: 500px;  margin: 0 auto; }

.naver .naverBtn { width: 200px; height: 50px; line-height: 50px; border-radius: 5px; text-align: center; background-color: #23c20a; font-weight: 600; color: #fff; }
.naver .naverLogout { margin: 20px 0; }
.naver .naverMap #map { width: 100%; height: 500px; margin: 0 auto; }

.google .googleBtn { width: 200px; height: 38px; line-height: 36px; text-align: center; border:1px solid #d2d2d2; font-weight: 600; }
.google #google-signin-btn .abcRioButtonLightBlue { width: 200px!important; }
.google .googleLogout { margin: 20px 0;}
.google #map { width: 100%; height: 500px; }