@charset "UTF-8";

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

h1 { color: #42b983; }
h3 { margin: 10px 0; }

/* App.vue */
#nav { padding: 30px; }
#nav a { font-weight: bold; color: #2c3e50; text-decoration: none;}
#nav .router-link-exact-active { color: #42b983; }

section { border-bottom: 1px solid lightgray; padding: 10px 0 20px 0; }


.font-bold { font-weight: bold; }
.orange { color: orange; }
.red { color: red; }
.v-enter-active, .v-leave-active { transition: opacity 1s; }
.v-enter, .v-leave-to { opacity: 0; }
.item { transition: background-color 1s; padding: 4px 8px; } /* class에 걸어줌 */
.is-active { background: #ffeaea;}
.name { transition: color 1s; }

.menu .nav .category { display: flex;  flex-wrap: wrap;  }
.menu .nav .category li { font-size: 1rem; padding: 15px; flex: 1 1 20%;  border: 1px solid #42b983;}