@charset "UTF-8";

h1 {
    color: #42b983;
}
section.first {
    border-top: 1px solid #333;
}
section {
    border-bottom: 1px solid #333;
    padding: 10px 0 20px 0;
}
.orange {
    color: orange;
}

.red {
    color: red;
}
.font-bold {
    font-weight: bold;
}